@import "tailwindcss";

@theme {
  --animate-snackbar-slide-open-from-right: snackbar-slide-open-from-right 0.5s
    forwards;
  --animate-snackbar-slide-close-for-right: snackbar-slide-close-for-right 0.5s
    forwards;
  --animate-snackbar-slide-open-from-left: snackbar-slide-open-from-left 0.5s
    forwards;
  --animate-snackbar-slide-close-for-left: snackbar-slide-close-for-left 0.5s
    forwards;
  --animate-snackbar-slide-open-from-bottom: snackbar-slide-open-from-bottom
    0.5s forwards;
  --animate-snackbar-slide-close-for-bottom: snackbar-slide-close-for-bottom
    0.5s forwards;
  --animate-snackbar-slide-open-from-top: snackbar-slide-open-from-top 0.5s
    forwards;
  --animate-snackbar-slide-close-for-top: snackbar-slide-close-for-top 0.5s
    forwards;

  --animate-snackbar-fade-in: snackbar-fade-in 0.5s forwards;
  --animate-snackbar-fade-out: snackbar-fade-out 0.5s forwards;

  @keyframes snackbar-slide-open-from-right {
    from {
      opacity: 0;
      transform: translateX(20%); /* Start completely off-screen to the right*/
    }
    to {
      opacity: 1;
      transform: translateX(0%); /* Slide into its normal position*/
    }
  }

  @keyframes snackbar-slide-close-for-right {
    from {
      opacity: 1;
      transform: translateX(0%); /* Start in its normal position*/
    }
    to {
      opacity: 0;
      transform: translateX(20%); /* Slide completely off-screen to the right*/
    }
  }

  @keyframes snackbar-slide-open-from-left {
    from {
      opacity: 0;
      transform: translateX(-20%); /* Starts off-screen to the left */
    }
    to {
      opacity: 1;
      transform: translateX(0); /* Ends in its original position */
    }
  }

  @keyframes snackbar-slide-close-for-left {
    from {
      opacity: 1;
      transform: translateX(0); /* Starts in its original position */
    }
    to {
      opacity: 0;
      transform: translateX(-20%); /* Ends off-screen to the left */
    }
  }

  @keyframes snackbar-slide-open-from-bottom {
    from {
      opacity: 0;
      transform: translateY(20%); /* Start completely off-screen below */
    }
    to {
      opacity: 1;
      transform: translateY(0%); /* Slide into its normal position */
    }
  }

  @keyframes snackbar-slide-close-for-bottom {
    from {
      opacity: 1;
      transform: translateY(0%); /* Slide into its normal position */
    }
    to {
      opacity: 0;
      transform: translateY(20%); /* Start completely off-screen below */
    }
  }

  @keyframes snackbar-slide-open-from-top {
    from {
      opacity: 0;
      transform: translateY(-100%); /* Start completely off-screen above */
    }
    to {
      opacity: 1;
      transform: translateY(0%); /* Slide into its normal position */
    }
  }

  @keyframes snackbar-slide-close-for-top {
    from {
      opacity: 1;
      transform: translateY(0%); /* Slide into its normal position */
    }
    to {
      opacity: 0;
      transform: translateY(-100%); /* Start completely off-screen above */
    }
  }

  @keyframes snackbar-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes snackbar-fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
